/* wrapper start*/
.wrapper {
  margin: 0 auto;
  width: auto;
  height: 97vh;
  }
/* wrapper end*/
.contet {
position: relative;
  display: inline-block;
  width: 75%;
  height: 100%;
  }

/* content start*/
.content {
position: relative;
  display: inline-block;
  width: 100%;
  height: calc(100% - 100px);
  overflow-y: scroll; /* Скрываем переполнение */
  }
/* content end*/
.otpr{
position: relative;
  display: inline-block;
  width: 100%;
  height: 100px;
  }
.send_form{
position: relative;
  display: inline-block;
  width: 100%;
  height: calc(100% - 23px);
  resize: none;
  overflow-y: scroll; /* Скрываем переполнение */
  }
.button{
position: relative;
  display: inline-block;
  width: 100%;
  height: 20px;
  }

/* sidebar start*/
.sidebar {
   display: inline-block;
   width: 20%;
   height: 100%;
   }
/* sidebar end*/
/* sidebar start*/
.create {
   display: inline-block;
   width: 100%;
   height: 20px;
   }
.users {
   display: inline-block;
   width: 100%;
   height: calc(100% - 40px);
   overflow-y: scroll;
   vertical-align: top;
   border: 1px solid #ccc;
   }
.modal-content {
   display: inline-block;
   width: 100%;
   height: calc(100% - 40px);
   vertical-align: top;
   border: 1px solid #ccc;
   }
/* sidebar end*/
/* sidebar start*/
.exit {
   display: inline-block;
   width: 100%;
   height: 20px;
   }
/* sidebar end*/


/* Chat containers */
.chat_user {
    border: 2px solid #bdbdbd;
    background-color: #bdbdbd;
    border-radius: 10px;
    padding: 5px;
    margin: 10px 0px;
}
.chat_user img {
    float: left;
    max-width: 20px;
    border-radius: 50%;
}

/* Chat containers */
.container {
    border: 2px solid #bdbdbd;
    background-color: #bdbdbd;
    width: 80%;
    border-radius: 10px;
    padding: 5px;
    margin: 10px 10px;
}

/* Darker chat container */
.darker { /* Позволяет элементам переноситься на следующую строку */
    border-color: #7CBEE0FF;
    background-color: #7CBEE0FF;
    margin-left: auto; /* Отодвигает блок вправо */
    margin-top: 10px; /* Отступ сверху */
    max-width: 300px; /* Задайте максимальную ширину блока */
    overflow-wrap: break-word; /* Обеспечивает перенос длинных слов */
}

/* Clear floats */
.container::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.container img {
    float: left;
    max-width: 40px;
    margin-right: 20px;
    border-radius: 50%;
}
/* Style time text */
.time-right {
    float: right;
    color: black;
}

.p {
 word-wrap: break-word;
}

body {
    font-family: Times New Roman, Times, sans-serif;
}

.hidden {
    display: none; /* Скрываем элементы с классом hidden */
}

table.centered {
    margin:0 auto;
}