<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{%static 'chats/chat-left.css' %}">
    <link rel="stylesheet" href="{%static 'chats/chat-right.css' %}">
</head>
<body>
<div class="block-left">
    <link rel="stylesheet" href="{%static 'chats/chat-left.css' %}">
</div>
<div class="block-right">
    <link rel="stylesheet" href="{%static 'chats/chat-right.css' %}">
</div>

</body>
</html>