<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'chats/css/chat-block.css' %}">
</head>
<body>
<!--wrapper start-->
<div class="wrapper">
<!--sidebar start-->
    <div class="sidebar">
        <div class="create">
            <button type="button" id="addChatBtn">Добавить чат</button>
        </div>
        <div class="users">
            {% if error_message %}
                <p style="color: red;">{{ error_message }}</p>
            {% endif %}
            {% if chats.exists %}
                {% for i in arr %}
                    <a href="{% url 'chat_new' id1=id1 id2=i.user_id %}">
                        <div class="chat_user" onclick="openChat">
                            <img src="{% static 'chats/image/img.png' %}">
                            <p class="p">{{ i.login }}</p>
                        </div>
                    </a>
                {% endfor %}
            {% else %}
            <p class="p">Чатов нет</p>
            {% endif %}
        </div>
        <div class="modal-content hidden">
            <label >Ник пользователя:</label>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <p>{{ field }}</p>  <!-- Отображаем только поле ввода без метки -->
                {% endfor %}
                <button type="submit" name="add">Создать чат</button>
                </form>
        </div>
        <div class="exit">
            <button type="button" id="exitButton">Выход</button>
        </div>
        <script>
            document.getElementById('exitButton').addEventListener('click', function() {
                window.location.href = '{% url "logout" %}'; // Используем URL-имя для перехода на страницу выхода
            });
        </script>
        <script>
            // Получаем элементы
            var addChatBtn = document.getElementById("addChatBtn");
            var addChatBtn1 = document.getElementById("cl");
            var usersDiv1 = document.querySelector(".users");
            var usersDiv2 = document.querySelector(".modal-content");

            // Обработчик события для кнопки
            addChatBtn.onclick = function() {
                // Переключаем класс hidden у блока users
                usersDiv1.classList.toggle("hidden");
                usersDiv2.classList.toggle("hidden");
                addChatBtn.classList.toggle("hidden");
            }
            cl.onclick = function() {
                // Переключаем класс hidden у блока users
                usersDiv1.classList.toggle("hidden");
                usersDiv2.classList.toggle("hidden");
                addChatBtn.classList.toggle("hidden");
            }
        </script>
    </div>
    <!--sidebar end-->
    <!--content start-->
    <div class="contet">
        <div class="content">
            {% if chat.exists %}
                {% for ch in chat %}
                    {% if ch.otpr_id == id2  and ch.body != "" and ch.body != None %}
                        <div class="container">
                            <img src="{% static 'chats/image/img.png' %}">
                            {% if ch.who_user1.user_id == id1 %}
                                <p class="p">{{ch.who_user2.login}}</p>
                            {% else %}
                                <p class="p">{{ch.who_user1.login}}</p>
                            {% endif %}
                            <p class="p">{{ch.body}}</p>
                            <span class="time-right">{{ch.created}}</span>
                        </div>
                    {% endif %}
                    {% if ch.otpr_id == id1 and ch.body != "" and ch.body != None %}
                        <div class="container darker">
                            <p class="p">{{ch.body}}</p>
                            <span class="time-right">{{ch.created}}</span>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <form method="post">
                {% csrf_token %}
                {% for field in formsend %}
                    <p>{{ field }}</p>  <!-- Отображаем только поле ввода без метки -->
                {% endfor %}
            <button class="button" type="submit" name="send">Отправить</button>
        </form>
    </div>
    <!--content end-->
</div><!--wrapper end-->
</body>
</html>