<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'chats/css/chat-block.css' %}">
</head>
<body>
<!--wrapper start-->
<div class="wrapper">
<!--sidebar start-->
    <div class="sidebar">
        <div class="create"></div>
        <div class="users">
            {% if error_message %}
                <p style="color: red;">{{ error_message }}</p>
            {% endif %}
            {% if chat.exists %}
                {% for i in arr %}
                    <a href="{% url 'chat_mod' id=id id1=i.0.user_id id2=i.1.user_id %}">
                        <div class="chat_user" onclick="openChat">
                            <img src="{% static 'chats/image/img.png' %}">
                            <p class="p">{{ i.0.login }} - {{ i.1.login }}</p>
                        </div>
                    </a>
                {% endfor %}
            {% else %}
            <p class="p">Чатов нет</p>
            {% endif %}
        </div>
        <div class="exit">
            <button type="button" id="exitButton">Выход</button>
        </div>
        <script>
            document.getElementById('exitButton').addEventListener('click', function() {
                window.location.href = '{% url "logout" %}'; // Используем URL-имя для перехода на страницу выхода
            });
        </script>
    </div>
    <!--sidebar end-->
    <!--content start-->
    <div class="contet">
        <div class="content">
        {% if id1 == 1 %}
            <form method="post">
                {% csrf_token %}
                {% for ch in arr %}
                    {% if ch.0.user_id == 1 %}
                        {% if ch.1.user_id == id2 and ch.1.status == 0 %}
                            <button class="button" type="submit" name="block">Заблокировать</button>
                        {% else %}
                            {% if ch.1.user_id == id2 and ch.1.status == 1 %}
                                <button class="button" type="submit" name="block">Разблокировать</button>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </form>
            <div class="button"></div>
        {%endif%}
        {% if chat.exists %}
            {% for ch in chat %}
                {% if ch.who_user1.user_id == id1 and ch.who_user2.user_id == id2 or ch.who_user1.user_id == id2 and ch.who_user2.user_id == id1 %}
                    {% if ch.otpr_id == id2  and ch.body != "" and ch.body != None %}
                        <div class="container">
                            <img src="{% static 'chats/image/img.png' %}">
                            {% if ch.who_user1.user_id == id1 %}
                                <p class="p">{{ch.who_user2.login}}</p>
                            {% else %}
                                <p class="p">{{ch.who_user1.login}}</p>
                            {% endif %}
                            <p class="p">{{ch.body}}</p>
                            <span class="time-right">{{ch.created}}</span>
                        </div>
                    {% endif %}
                    {% if ch.otpr_id == id1 and ch.body != "" and ch.body != None %}
                        <div class="container darker">
                            <p class="p">{{ch.body}}</p>
                            <span class="time-right">{{ch.created}}</span>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
        </div>
        {% if id1 == 1 %}
            <form method="post">
                    {% csrf_token %}
                    {% for field in formsend %}
                        <p>{{ field }}</p>  <!-- Отображаем только поле ввода без метки -->
                    {% endfor %}
                <button class="button" type="submit" name="send">Отправить</button>
            </form>
            <div class="button"></div>
        {%else%}
        <div class="button"></div>
        <div class="button"></div>
        <div class="button"></div>
        <div class="button"></div>
        {% endif %}
    </div>
    <!--content end-->
</div><!--wrapper end-->
</body>
</html>