<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'chats/css/chat-block.css' %}">
</head>
<body>
        <!--wrapper start-->
<div class="wrapper">
<!--sidebar start-->
    <div class="sidebar">
        <div class="create">
            {% if id != 1 %}
                <button type="button" id="addChatBtn">Добавить чат</button>
            {% endif %}
        </div>
        <div class="users">
            {% if error_message %}
                <p style="color: red;">{{ error_message }}</p>
            {% endif %}
            {% if chat.exists %}
                {% for i in arr %}
                    {% if id != 1 %}
                        <a href="{% url 'chat_new' id1=id id2=i.0.user_id %}">
                            <div class="chat_user" onclick="openChat">
                                <img src="{% static 'chats/image/img.png' %}">
                                <p class="p">{{ i.0.login }}</p>
                            </div>
                        </a>
                    {% else %}
                        <a href="{% url 'chat_mod' id=id id1=i.0.user_id id2=i.1.user_id %}">
                            <div class="chat_user" onclick="openChat">
                                <img src="{% static 'chats/image/img.png' %}">
                                <p class="p">{{ i.0.login }} - {{ i.1.login }}</p>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            {% else %}
            <p class="p">Чатов нет</p>
            {% endif %}
        </div>
        <div class="modal-content hidden">
            <label >Ник пользователя:</label>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <p>{{ field }}</p>  <!-- Отображаем только поле ввода без метки -->
                {% endfor %}
                <button type="submit">Создать чат</button>
                </form>
        </div>
        <div class="exit">
            <button type="button" id="exitButton">Выход</button>
        </div>
        <script>
            document.getElementById('exitButton').addEventListener('click', function() {
                window.location.href = '{% url "logout" %}'; // Используем URL-имя для перехода на страницу выхода
            });
        </script>
        <script>
            // Получаем элементы
            var addChatBtn = document.getElementById("addChatBtn");
            var addChatBtn1 = document.getElementById("cl");
            var usersDiv1 = document.querySelector(".users");
            var usersDiv2 = document.querySelector(".modal-content");

            // Обработчик события для кнопки
            addChatBtn.onclick = function() {
                // Переключаем класс hidden у блока users
                usersDiv1.classList.toggle("hidden");
                usersDiv2.classList.toggle("hidden");
                addChatBtn.classList.toggle("hidden");
            }
            cl.onclick = function() {
                // Переключаем класс hidden у блока users
                usersDiv1.classList.toggle("hidden");
                usersDiv2.classList.toggle("hidden");
                addChatBtn.classList.toggle("hidden");
            }
        </script>
    </div>
    <!--sidebar end-->
    <!--content start-->
    <div class="contet">
    </div>
    <!--content end-->
</div><!--wrapper end-->
</body>
</html>