<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'chats/css/chat-block.css' %}">
</head>
<body>
<!--wrapper start-->
<div class="wrapper">
<!--sidebar start-->
    <div class="sidebar">
        <div class="users">
            <div class="chat_user">
              <img src="{% static 'chats/image/img.png' %}">
              <p>Login_user</p>
            </div>
        </div>
        <div class="exit">
            <button type="ex">Выход</button>
        </div>
    </div>
    <!--sidebar end-->
    <!--content start-->
<div class="contet">
    <div class="content">
        <div class="container">
            <img src="{% static 'chats/image/img.png' %}">
            <p>Login_user</p>
            <p class="p">qwevdsgbrsntttttttttttttttttttttttttttttttttttttttttttttsdgbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbggetetnwtrnnttttttttttttttttttrtyuiop</p>
            <p class="p">qwertyuiop</p>
            <span class="time-right">11:00</span>
        </div>
        <div class="container darker">
            <p class="p">qwevdsgbrsntttttttttttttttttttttttttttttttttttttttttttttsdgbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbggetetnwtrnnttttttttttttttttttrtyuiop</p>
            <p class="p">qwertyuiop</p>
            <span class="time-right">11:01</span>
        </div>
        <div class="container">
            <img src="{% static 'chats/image/img.png' %}">
            <p>Login_user</p>
            <p class="p">qwevdsgbrsntttttttttttttttttttttttttttttttttttttttttttttsdgbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbggetetnwtrnnttttttttttttttttttrtyuiop</p>
            <p class="p">qwertyuiop</p>
            <span class="time-right">11:00</span>
        </div>
        <div class="container darker">
            <p class="p">qwevdsgbrsntttttttttttttttttttttttttttttttttttttttttttttsdgbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbggetetnwtrnnttttttttttttttttttrtyuiop</p>
            <p class="p">qwertyuiop</p>
            <span class="time-right">11:01</span>
        </div>
        <div class="container">
            <img src="{% static 'chats/image/img.png' %}">
            <p>Login_user</p>
            <p class="p">qwevdsgbrsntttttttttttttttttttttttttttttttttttttttttttttsdgbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbggetetnwtrnnttttttttttttttttttrtyuiop</p>
            <p class="p">qwertyuiop</p>
            <span class="time-right">11:00</span>
        </div>
        <div class="container darker">
            <p class="p">qwevdsgbrsntttttttttttttttttttttttttttttttttttttttttttttsdgbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbggetetnwtrnnttttttttttttttttttrtyuiop</p>
            <p class="p">qwertyuiop</p>
            <span class="time-right">11:01</span>
        </div>
    </div>
    <div class="otpr">
    <form class="send_form" method="post">
        <p class="p">QWERTnvlkjh;loh;uh;iuhiugiygiyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyymnfjygiYQWERTnvlkjh;loh;uh;iuhiugiygiyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyymnfjygiYUI</p>
        {% csrf_token %}
        <table class="centered">
            {{ form.as_table }}
        </table>
    </form>
        <div class="button">
        <button type="send">Отправить</button>
            </div>
    </div>
</div>
    <!--content end-->
</div><!--wrapper end-->
</body>
</html>